:root {
  --animation-duration: 4s;
  --animation-delay: 2s;
  --animation-slide-duration: 12s;
  --transition-duration: 0.3s;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  --box-width-height: 60px;
  --animation-transition-background-color: darkgoldenrod;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: whitesmoke;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./images/bg_default/bg5.jpg");
  background-size: cover; /* Adjust based on image size */
  background-repeat: no-repeat;
  animation: backgroundSpace var(--animation-slide-duration) infinite alternate ease-in-out var(--animation-delay);
  transition: background-color var(--animation-transition-background-color);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.heading {
  margin: 0;
  padding: 20px;
  font-size: 1.5em;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.heading-letter {
  font-size: 1.5em;
  margin: 0 0.1em;
  display: inline-block;
  transition: transform var(--transition-duration) ease;
}

.heading-letter:hover {
  animation: offlineAnimation 7s infinite;
  border-radius: 35%;
  transform: rotate(360deg);
  box-shadow: var(--box-shadow);
  width: var(--box-width-height);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.heading-animation {
  width: auto;
  height: auto;
  margin: 5% auto;
  position: relative;
  align-content: center;
  justify-content: center;
  text-align: center;
  display: flex;
}

.heading-animation:hover {
  border: 3% solid;
  border-radius: 28%;
}
/* Your animation keyframes */
/* Add your default keyframes here */
@keyframes backgroundSpace {
  0%, 100% {
    opacity: 1;
    z-index: 2;
    background-image: url("./images/bg_default/bg1.jpg");
  }
  25% {
    opacity: 0;
    z-index: 1;
    background-image: url("./images/bg_default/bg2.jpg");
  }
  50% {
    opacity: 1;
    z-index: 0;
    background-image: url("./images/bg_default/bg3.jpg");
  }
  75% {
    opacity: 0;
    z-index: -1;
    background-image: url("./images/bg_default/bg4.jpg");
  }
}

/* Style for the toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Additional styles for different modes */
/* Define your different animation keyframes here */
@keyframes backgroundCarousel {
  0% {
    background-image: url("./images/bg_carousel/bg1.jpg");
  }
  4.7619% {
    background-image: url("./images/bg_carousel/bg2.jpg");
  }
  9.5238% {
    background-image: url("./images/bg_carousel/bg3.jpg");
  }
  14.2857% {
    background-image: url("./images/bg_carousel/bg4.jpg");
  }
  19.0476% {
    background-image: url("./images/bg_carousel/bg5.jpg");
  }
  23.8095% {
    background-image: url("./images/bg_carousel/bg6.jpg");
  }
  28.5714% {
    background-image: url("./images/bg_carousel/bg7.jpg");
  }
  33.3333% {
    background-image: url("./images/bg_carousel/bg8.jpg");
  }
  38.0952% {
    background-image: url("./images/bg_carousel/bg9.jpg");
  }
  42.8571% {
    background-image: url("./images/bg_carousel/bg10.jpg");
  }
  47.6190% {
    background-image: url("./images/bg_carousel/bg11.jpg");
  }
  52.3809% {
    background-image: url("./images/bg_carousel/bg12.jpg");
  }
  57.1428% {
    background-image: url("./images/bg_carousel/bg13.jpg");
  }
  61.9047% {
    background-image: url("./images/bg_carousel/bg14.jpg");
  }
  66.6666% {
    background-image: url("./images/bg_carousel/bg15.jpg");
  }
  71.4285% {
    background-image: url("./images/bg_carousel/bg16.jpg");
  }
  76.1904% {
    background-image: url("./images/bg_carousel/bg17.jpg");
  }
  80.9523% {
    background-image: url("./images/bg_carousel/bg18.jpg");
  }
  85.7142% {
    background-image: url("./images/bg_carousel/bg19.jpg");
  }
  90.4761% {
    background-image: url("./images/bg_carousel/bg20.jpg");
  }
  95.2380% {
    background-image: url("./images/bg_carousel/bg21.jpg");
  }
  100% {
    background-image: url("./images/bg_carousel/bg1.jpg");
  }
}

@keyframes onlineAnimation {
  0% {
    background-color: blueviolet;
    transform: scale(0);
  }
  100% {
    background-color: lawngreen;
    transform: scale(1.3);
  }
}

@keyframes offlineAnimation {
  0% {
    background-color: blueviolet;
  }
  25%, 50%, 75% {
    background-color: lightseagreen;
  }
  100% {
    background-color: darkviolet;
  }
}

.main {
  width: calc(100% - 40px);
  padding: 20px;
  background: #fefefe;
  color: #333;
  box-shadow: var(--box-shadow);
  border-radius: 8px;
}

main:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}

footer {
  padding: 10px 0;
  text-align: center;
  font-size: 0.75em;
  position: relative; 
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Added background color */
}

footer a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
  scale: 1.4%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}

ul:hover {
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

li {
  box-shadow: var(--box-shadow);
  padding: 5px 10px;
  border-radius: 5px;
  transition: transform var(--transition-duration);
}

li:hover {
  transform: scale(1.4);
  margin: 15px auto;
  border: 3% solid;
  border-radius: 5%;
  z-index: 1;
  position: relative;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: #007aff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #005ecb;
}

button:hover {
  background-color: #005ecb;
  transition: background-color 0.4s ease;
}

button:active {
  transform: scale(1.1);
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:focus {
  outline: none;
  box-shadow: 0px 0px 5px 5px #f5f5f5;
}

#actionButton {
  background-color: #4caf50;
}

#actionButton:hover {
  background-color: darkblue;
}
